@import url(./fonts/PkgTTC-IosevkaSS04-33.2.6/IosevkaSS04-Bold.ttc);

* {
    margin: 0;
    padding: 0;
    font-family: iosevkabold;
}

body {
    background-image: url(./images/best-nature-image-1366x768.jpg);
    color: white;
    background-size: cover;
}

ul li {
    float: left;
    list-style: none;
}

.logo {
    color: white;
    font-size: 35px;
    padding-left: 20px;
    float: left;
    width: 200px;
    height: 50px;
    text-align: center;
}

.header {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 50px;

}

.menu {
    width: 600px;
    float: right;
    height: 50px;
    margin: 5px;
}

ul li a {
    text-decoration: none;
    width: 100px;
    height: 30px;
    color: white;
    display: block;
    text-align: center;
    line-height: 30px;
}

ul li a:hover {
    background-color: transparent;
    color: black;
}

.navbar {
    width: 1200px;
    height: 50px;
    margin: auto;
}

.main {
    justify-items: center;
    height: 500px;
}

.logincontainer {
    height: 500px;
    width: 400px;
    text-align: center;
    justify-self: center;
    border-radius: 10px;
    margin-top: 40px;
}

h1 {
    justify-self: center;
    margin: 90px;
}

#email {
    margin: 0px 0px 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    background-color: transparent;
    color: white;
    width: 200px;
}

#password {
    margin: 0px 0px 20px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    background-color: transparent;
    color: white;
    width: 200px;
}

.checkbox {
    margin: 20px;
    text-decoration: none;
}

#checkbox:hover {
    color: black;
    background-color: transparent;
}

.button {
    height: 30px;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.button:hover {
    color: black;
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    border-bottom: 1px solid white;
}

input::placeholder {
    color: white;
}

@font-face {
    font-family: iosevkabold;
    src: url('./fonts/PkgTTC-IosevkaSS04-33.2.6/IosevkaSS04-Bold.ttc');
}

.d {
    display: flex;
    justify-content: center;
}

.a {
    margin: 20px;
}